<h2><%= t :attendance %></h2>
<ul class="nav nav-pills" role="tablist">
  <li role="presentation" class="active"><h4><%= t :protocol_number_label %> <span class="label label-danger"><%= @call.id %></span> </h4></li>
</ul>
<br/>
<div class="panel panel-primary">
  <!-- Default panel contents -->
  <div class="panel-heading"> | <%= t :category %> : <span class="badge"> <%= @call.categoria_id %> </span> | <%= t :creation_date %> : <span class="badge"> <%= @call.data_criacao %>  </span></div>
  <div class="panel-body">
    <h4><%= @call.titulo %></h4>
    <hr/>
    <p> <strong><%= t :requirer %>:</strong> <a href="#"><%= User.find(@call.requerente).email %></a></p>
    <p> <strong><%= t :call %>:</strong> <%= @call.pergunta %></p>
    <p> <strong><%= t :acess_profile_label %>: </strong><%= @call.perfil_acesso %>
    <p> <strong><%= t :version %>: </strong><%= @call.versao %>
      <% if @call.detalhe_funcionalidade != '' %>
        <p> <strong><%= t :functional_detail %>: </strong><%= @call.detalhe_funcionalidade %></p>
      <% end %>
    <hr/>
    <ul class="nav nav-pills" role="tablist">
      <li role="presentation" class="active"><%= t :city %>: <span class="badge"><%= @call.municipio %></span></li>
      <li role="presentation" class="active">| <%= t :uf %> <span class="badge"><%= @call.uf %></span></li>
    </ul>
    <ul class="nav nav-pills" role="tablist">
      <br>
      <li role="presentation" class="active"><%= t :status %> <span class="badge"><%= @call.status %></span></li>
      <% if @call.severidade %>
        <li role="presentation" class="active">| <%= t :severity %> <span class="badge"><%= @call.severidade %></span></li>
      <% end %>
    </ul>
    <hr/>
  </div>
</div>
<% if current_user.try(:admin?) %>
  <% if @call.answer.pergunta == 'default'%>
    <button id="new_answer" type="button" class="btn btn-success"><%= t :new_answer %></button>
    <button id="new_faq_answer" type="button" class="btn btn-success"><%= :search_FAQ %></button>
 <% end %>
<% end %>
<div id="form_answer" style="display: none; width: 50%">
  <br/>
  <%= render "form_answer" %>
</div>

<div id="faq_answer" style="display: none; width: 50%%">
  <br/>
  <%= form_tag(call_path, remote: true, :method => :get, class: 'form-inline' ) do %>
    <%= text_field_tag 'search', nil, placeholder: t(:similar_FAQ), class: 'form-control string optional', style: 'width:350px' %>
    <%= submit_tag t(:search), class: 'btn btn-primary'%>
  <% end %>
  <hr/>
  <div id="answers">
  </div>
</div>
<p></p>
<div class="panel panel-primary">
    <div class="panel-heading"> <%= t :attendance_history %></span> </div>
    <div class="panel-body">
      <h4><%= t :answer %>s</h4>
      <% if @call.answer.pergunta != 'default'%>
        <%= render "answers"%>
      <% end %>
      <% if @call.answer.pergunta == 'default'%>
        <p><%= @call.answer.resposta %></p>
      <% end %>
    </div>
</div>
