<td style="vertical-align: middle">
  <%= link_to user.email, user %>
</td>
<td style="vertical-align: middle">
  <%= form_for(user) do |f| %>
    <%= f.select(:role, User.roles.keys.map {|role| [role.titleize,role]}) %>
</td>
<td style="vertical-align: middle">
   <%= f.submit 'Alterar permissões', :data => { :confirm => "Tem certeza?" }, :class => 'button-xs', style: "margin-bottom: 5px" %>
  <% end %>
  <%= link_to("Apagar usuário", user_path(user), :data => { :confirm => "Tem certeza?" }, :method => :delete, :class => 'button-xs') unless user == current_user %>
</td>
