<p id="notice"><%= notice %></p>

<h1><%= t :category %></h1>

<table>
  <thead>
    <tr>
      <th><%= t :title %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.title %></td>
        <td><%= link_to t(:view), category %></td>
        <td><%= link_to t(:edit), edit_category_path(category) %></td>
        <td><%= link_to t(:remove), category, method: :delete, data: { confirm: :sure } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t(:new_category), new_category_path %>
